body {
  background-color: #f2a365;
  background-image: url('./app/assets/darkTurbines.jpg');
  background-attachment: fixed;
  background-position: 50% 65%;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  background-color: #232e36;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vis {
  height: 100%;
  width: 100%;
}

.mapContainer {

  height: 80vh;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;

}

.h5 {
  color: #0894d1;
}

.edging {
  background-color: white;
  opacity: 0.5;
}

.footer .social-item {
  border-radius: 50%;
  width: 48px;
  height: 48px;

}

.footer .social-item svg {
  max-height: 50%;
  max-width: 50%;
}

.linkedin {
  background-color: #0072b1;
}

.logoDefualt {
  background-color: grey;
}

.logoWhite {
  color: white;
}

.icon {
  width: 48px;
  height: 48px;
  color: transparent;
  stroke:white;
  stroke-width: 10px;
}

.icon:hover{
  
  cursor:pointer;
  color:white;
}